@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@487;500;700&display=swap");

.Blue {
  color: aqua;
}

#About {
  scroll-margin-top: 50rem;
}

#intro {
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: linear-gradient(to right, #ffffff 0%, #959696 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk", sans-serif;
}

span.name {
  background: #6fffe9;

  background: -webkit-linear-gradient(to bottom, #ffffff 30%, #ffc107 60%);
  background: -moz-linear-gradient(to bottom, #ffffff 30%, #ffc107 60%);
  background: linear-gradient(to bottom, #ffffff 30%, #ffc107 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: shine 3s infinite linear; */
  animation-fill-mode: forwards;
  /* text-shadow: 0px 0px 18px rgba(0, 238, 255, 0.466); */
}

#aboutMe {
  background: -webkit-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: linear-gradient(to right, #ffffff 0%, #959696 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 13vh;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200px;
  }
}

hr {
  background: -webkit-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: -moz-linear-gradient(to right, #ffffff 0%, #979797 100%);
  background: linear-gradient(to right, #ffffff 0%, #959696 100%);
  width: 40%;
  margin: auto;
  border: none;
  height: 50px;
}
